@mixin center-this($top) {
    position: absolute;
    top: $top;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin disable-horizontal-scrolling() {
    max-width: 100%;
    overflow-x: hidden;
}
@mixin background-size($param) {
    -webkit-background-size: $param;
    -moz-background-size: $param;
    -o-background-size: $param;
    background-size: $param;
}
@mixin filter($quant) {
    filter: blur($quant);
    -webkit-filter: blur($quant);
}

* { margin: 0; padding: 0; }

$blue: #005573;
$red: red;
$light-blue: #e2edf2;

html,
body {
    @include disable-horizontal-scrolling();
    font-family: 'Hind', sans-serif;
}

.landing {
    .splash {
        height: 800px;
        width: 100%;
    }
        
    .parallax_layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    #layer-0 { background-image: url("../img/background.png"); background-size: cover; position: fixed; }
    #layer-1 { background-image: url("../img/moon.png"); background-size: cover; position: fixed; }
    #layer-2 { background-image: url("../img/welcometonashville.png"); background-size: cover; position: fixed; }
    #layer-3 { background-image: url("../img/city_layer3.png"); background-size: cover;  }
    #layer-4 { background-image: url("../img/city_layer2.png"); background-size: cover;  }
    #layer-5 { background-image: url("../img/city_layer1.png"); background-size: cover;  }
    #layer-6 { background-image: url("../img/bridge.png"); background-size: cover;  }
}

.input {
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    height: 400px;
    width: 100%;
    background-color: $blue;
    text-align: center;
    padding-top: 50px;
    
    h2 {
        color: $light-blue;
        text: { transform: uppercase; }
        font: { weight: 500; }
        letter-spacing: 2px;
    }
    
    input {
        display: block;
        margin: 45px auto 130px;
        width: 510px;
        background: none;
        border: none;
        border-bottom: 2px solid $light-blue;
        outline: none;
        color: $light-blue;
        padding-left: 4px;
        padding-bottom: 8px;
        font: { style: italic; }
    }
    
    button {
        background: none;
        background-color: $red;
        border: none;
        outline: none;
        padding: 8px 50px;
        
        text: { transform: uppercase; }
        font: { weight: 400; }
        color: $light-blue;
    }
}



.itin_page {
    box-sizing: border-box;
    background: url(../img/citybackground.png) no-repeat center center;
    background-size: cover;
    padding: 60px 0 60px 80px;
    height: 100vh;
    min-height: 800px;
    
    ul { list-style: none; padding: 0; }
}

.itin_page header {
    font: { weight: 300; size: 1.4em; }
    padding-bottom: 40px;
    color: #aaa;
}

.itinerary, .suggestions { 
    float: left;
    height: 100%;
    
    li {
        padding: 10px 0;
        
        h3 {
            font: { weight: 300; size: 1.3em; }
            letter-spacing: 1px;
        }
    }
}

.itinerary h2, .suggestions h2 {
    text: { transform: uppercase; align: center; }
    font: { weight: 700; size: 1.1em; }
    margin-bottom: 12px;
}

.itinerary {
    width: 360px;
    border-right: 1px solid #aaa;
    
    .options {
        text-align: center;
    }
}

.options {
    label {
        cursor: pointer;  
        display: inline-block;
        height: 50px;
        width: 80px;
        line-height: 100px;
        font: { size: .8em; weight: 300; }
        color: #aaa;
    }
    
    label[for="travel-driving"] {
        background: url(../img/icons/driving.png) no-repeat top center;
        background-size: auto 40px;
    }
    
    label[for="travel-walking"] {
        background: url(../img/icons/walking.png) no-repeat top center;
        background-size: auto 40px;
    }
    
    label[for="travel-bicycling"] {
        background: url(../img/icons/biking.png) no-repeat top center;
        background-size: auto 40px;
    }
    
    input { display: none; }
    
    input:checked + label {
        color: $red;
    }
    
    .time {
        font: { weight: 300; size: .9em; }
        color: #888;
        margin-top: 6px;
        
        span {
            font-weight: 400;
            color: #555;
        }
    }
}

.suggestions {
    width: 524px;
    
    li {
        padding-left: 60px;
        cursor: pointer;
        
        &:hover {
            background-color: $light-blue;
        }
    }
}

#map { 
    position: absolute;
    right: 0;
    top: 0;
    
    height: 100vh;
    width: 33%;
    min-width: 400px;
}
