<div class="itin_page">
    <header>123 Sesame Street</header>
    <section class="itinerary">
        <div class="options">
            <h2>Itinerary</h2>
            <input type="radio" ng-model="travel_mode" ng-change="switchSuggestion(current_suggestion)" value="driving" id="travel-driving"> 
            <label for="travel-driving">
                Driving
            </label>
            <input type="radio" ng-model="travel_mode" ng-change="switchSuggestion(current_suggestion)" value="walking" id="travel-walking">
            <label for="travel-walking">
                Walking
            </label>
            <input type="radio" ng-model="travel_mode" ng-change="switchSuggestion(current_suggestion)" value="bicycling" id="travel-bicycling">
            <label for="travel-bicycling">
                Bicycling
            </label><br>
            <div class="time">Total Travel Time: <span class="travel_time"></span></div>
        </div>
        
        <ul>
            <li ng-repeat="item in itinerary">
                <h3>{{ item.title }}</h3>
            </li>
        </ul>
    </section>
    <section class="suggestions">
        <h2>Things to Do</h2>
        <ul>
            <li ng-repeat="item in suggestions" class="item">
                <h3 ng-mouseenter="switchSuggestion($index)" ng-click="updateIten($index)">{{ item.title }}</h3>
            </li>
        </ul>
    </section>
</div>

<div id="map"></div>

<script src="js/itin.js"></script>
