<div class="landing">
    <section class="parallax">
        <div class="parallax_layer" id="layer-0"></div>
        <div class="parallax_layer" id="layer-1"></div>
        <div class="parallax_layer" id="layer-3"></div>
        <div class="parallax_layer" id="layer-4"></div>
        <div class="parallax_layer" id="layer-5"></div>
        <div class="parallax_layer" id="layer-6"></div>
    </section>
<!--
    <section class="input">
        <div id="locationField">
             <input id="autocomplete" placeholder="Where are you staying?"
             ng-focus="geolocate()" type="text"></input>
        </div>
    </section>
-->
</div>
    
<script src="js/landing.js"></script>
